/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #20242E;
    --color01: #c07a93;
    --color02: #2f9f79;
    --color03: #62a658;
    --color04: #82a5e4;
    --color05: #9b7fd9;
    --color06: #00acdc;
    --color07: #D7DCE1;
    --color08: #72747b;
    --color09: #ed9bbb;
    --color10: #4cc895;
    --color11: #72ca66;
    --color12: #99c4ff;
    --color13: #c39fff;
    --color14: #00cfff;
    --color15: #eff6ff;
}
