@define-color bg #20242E;
@define-color fg #D7DCE1;
@define-color gray1 #2f9f79;
@define-color gray2 #72747b;
@define-color gray3 #82a5e4;
@define-color gray4 #62a658;
@define-color gray5 #9b7fd9;
@define-color fg_bright #eff6ff;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}