/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #121212;
    --color01: #b96564;
    --color02: #9f7f4c;
    --color03: #aa8852;
    --color04: #4faa50;
    --color05: #9b7b4b;
    --color06: #9b9b4b;
    --color07: #ffffff;
    --color08: #9e9e9e;
    --color09: #e78684;
    --color10: #bd9657;
    --color11: #c19d64;
    --color12: #95ff9b;
    --color13: #bb9254;
    --color14: #bbbb54;
    --color15: #ffffff;
}
