themes {
    current {
        text_unselected {
            base 221 213 213
            background 137 118 118
            emphasis_0 179 149 149
            emphasis_1 236 229 229
            emphasis_2 191 191 212
            emphasis_3 230 218 218
        }
        text_selected {
            base 221 213 213
            background 137 118 118
            emphasis_0 179 149 149
            emphasis_1 236 229 229
            emphasis_2 191 191 212
            emphasis_3 230 218 218
        }
        ribbon_selected {
            base 137 118 118
            background 191 191 212
            emphasis_0 205 183 183
            emphasis_1 179 149 149
            emphasis_2 230 218 218
            emphasis_3 224 209 209
        }
        ribbon_unselected {
            base 137 118 118
            background 221 213 213
            emphasis_0 205 183 183
            emphasis_1 221 213 213
            emphasis_2 224 209 209
            emphasis_3 230 218 218
        }
        table_title {
            base 191 191 212
            background 0
            emphasis_0 179 149 149
            emphasis_1 236 229 229
            emphasis_2 191 191 212
            emphasis_3 230 218 218
        }
        table_cell_selected {
            base 221 213 213
            background 137 118 118
            emphasis_0 179 149 149
            emphasis_1 236 229 229
            emphasis_2 191 191 212
            emphasis_3 230 218 218
        }
        table_cell_unselected {
            base 221 213 213
            background 137 118 118
            emphasis_0 179 149 149
            emphasis_1 236 229 229
            emphasis_2 191 191 212
            emphasis_3 230 218 218
        }
        list_selected {
            base 221 213 213
            background 137 118 118
            emphasis_0 179 149 149
            emphasis_1 236 229 229
            emphasis_2 191 191 212
            emphasis_3 230 218 218
        }
        list_unselected {
            base 221 213 213
            background 137 118 118
            emphasis_0 179 149 149
            emphasis_1 236 229 229
            emphasis_2 191 191 212
            emphasis_3 230 218 218
        }
        frame_selected {
            base 191 191 212
            background 0
            emphasis_0 179 149 149
            emphasis_1 236 229 229
            emphasis_2 230 218 218
            emphasis_3 0
        }
        frame_highlight {
            base 179 149 149
            background 0
            emphasis_0 230 218 218
            emphasis_1 179 149 149
            emphasis_2 179 149 149
            emphasis_3 179 149 149
        }
        exit_code_success {
            base 191 191 212
            background 0
            emphasis_0 236 229 229
            emphasis_1 137 118 118
            emphasis_2 230 218 218
            emphasis_3 224 209 209
        }
        exit_code_error {
            base 205 183 183
            background 0
            emphasis_0 179 147 147
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 230 218 218
            player_2 224 209 209
            player_3 0
            player_4 179 147 147
            player_5 236 229 229
            player_6 0
            player_7 205 183 183
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
